@{
    ViewData["Title"] = "Home Page";
}
@model ADOCRUD.Models.UserInfo

<h2>@Model.UserName</h2>
<form action="/Home/index" method="post">
    <input type="text" name="Username"/>
    <input type="submit" value="Submit Name"/>
</form>

<form action="/Home/UpdateUserInfo" method="post">
    <input type="text" name="Username" placeholder="Old UserName"/>
    <input type="text" name="NewUsername" placeholder="New userName" />
    <input type="submit" value="Update Name" />
</form>

<form action="/Home/DeleteUserInfo" method="post">
    <input type="text" name="Username" placeholder="Old UserName" />
    <input type="submit" value="Delete Name" />
</form>
